body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


h1{
    line-height: 40px;
    font-size: 50px;
    color: rgb(185, 185, 185);
    text-shadow: 2px 2px 2px black;
}
.colorful{
    color: rgb(0, 206, 172);
}

p{
    margin: 15px 0px ;
    color: rgb(0, 0, 0);
    text-align: justify;
}
.top-banner{
    /* display: flex;
    align-items: center; */
    background-image: url("images/top-banner.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.banner-half-width1{ 
    margin-bottom: 60px;
    width: 50%;
    padding-right: 2%;
    padding-left: 6%;
    
 }

 .banner-half-width2{
     width: 50;
 }
.banner-half-width2> img{

    width: 380px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(0, 240, 200);
    margin: auto;
    display: block;
    
    
}
.dream-big{

    background-image: url("images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;

}

.dream-half-width1{
    width: 50%;
    padding-left: 2%;
}

.dream-half-width1> img{
    width: 380px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(0, 240, 200);
    margin: auto;
    display: block;

}
.dream-half-width2{ 
    margin-bottom: 60px;
    width: 50%;
    padding-right: 6%;
    padding-left: 2%;
    

 }




.dream-half-width2>h2{
    margin: 0px;
}



.hire-me-btn{
    box-shadow: 2px 2px 3px black;
    border-radius:5px;
    background-image: linear-gradient(rgb(0, 255, 242), rgb(0, 53, 53));
    color: white;
    padding: 10px 40px ;
    text-decoration: none;
    
    font-weight: 600;
    letter-spacing: 2px;
    
}


.exp-item{
    box-shadow: 10px 10px 30px grey;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 10px;
   
}

.exp-area{
    text-align: center;
    border-bottom: 1px solid rgb(90, 90, 90);
    background-image:url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#web-dev-exp{
    border-left: 8px solid;
    border-image:linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}

#fullstack-exp{
    border-left: 8px solid;
    border-image:linear-gradient(rgb(255, 77, 45), rgb(124, 19, 0)) ;
    border-image-slice: 1;

}

footer> p{
    text-align: center;
}