body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    border-bottom: 1px solid black;
}


h1{
    font-size: 50px;
    color: rgb(185, 185, 185);
    text-shadow: 2px 2px 2px black;
}
.colorful{
    color: rgb(0, 206, 172);
}

p{
    margin: 15px 0px ;
    color: rgb(0, 0, 0);
    text-align: justify;
}
.top-banner{
    display: flex;
    align-items: center;
    background-image: url("images/top-banner.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}
.banner-half-width1{ 
    width: 50%;
    padding-right: 2%;
    padding-left: 6%;
    
 }


.banner-half-width2> img{

    width: 380px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(0, 240, 200);
    margin: auto;
    display: block;
    
    
}
.dream-big{
    display: flex;
    align-items: center;
    
    background-image: url("images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

.dream-half-width1{
    width: 50%;
    padding-left: 2%;
}

.dream-half-width1> img{
    width: 380px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(0, 240, 200);
    margin: auto;
    display: block;

}
.dream-half-width2{ 
    width: 50%;
    padding-right: 5%;
    

 }




.dream-half-width2>h2{
    margin: 0px;
}



.hire-me-btn{
    box-shadow: 2px 2px 3px black;
    border-radius:5px;
    background-image: linear-gradient(rgb(0, 255, 242), rgb(0, 53, 53));
    color: white;
    padding: 10px 40px ;
    text-decoration: none;
    /* background-color: rgb(0, 255, 221); */
    font-weight: 600;
    letter-spacing: 2px;
    
}